@mixin flexCenter() 
    display: flex
    justify-content: space-around
    align-items: center

@mixin defaultFontFamily()
    font-family: Helvetica, Sans-Serif

//Font Size
$miniFont: 0.8rem 
$smallFont: 1rem
$mediumFont: 1.5rem
$largeFont: 2rem
$extraLargeFont: 3rem

//Color
$white:#FFFFFF
$gray700:#2D3748