@import './src/global/_global.sass'
    
.footerDiv
    @include flexCenter
    justify-content: space-between
    position: absolute
    bottom: 0
    margin-bottom: 1%

    @media (max-width:$mediumMaxWidth)
        flex-direction: column
        width: 37rem
        height: 4rem

.linkDiv
    @include flexCenter
    justify-content: space-between
    width: 20rem

:export
    gray400: $gray400